[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
loguru = "*"
boto3 = "*"
opensearch-py = "*"
types-boto3 = "*"
requests = "*"
sentry-sdk = "*"
logtail-python = "*"
pytest = "*"
pytest-asyncio = "*"
types-requests = "*"
pytest-env = "*"

[scripts]
lint = "flake8 ."
format = "black ."
sort = "isort ."
type_check = "mypy ."
tests = "pytest"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.13"
