[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
flake8 = "*"
black = "*"
isort = "*"
loguru = "*"
mypy = "*"
boto3 = "*"
opensearch-py = "*"
types-boto3 = "*"
requests = "*"
sentry-sdk = "*"
logtail-python = "*"
pytest = "*"
pytest-asyncio = "*"

[scripts]
flake8 = "flake8 app"
black = "black app"
isort = "isort app"
mypy = "mypy app"
tests = "pytest"

[dev-packages]

[requires]
python_version = "3.13"
